<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>吳岱威簡介</title>
    <link rel="stylesheet" href="../static/CSS/index.css">
</head>
<?php echo date("Y-m-d") ?>
<body>

    <table width="70%">
        <tr>
            <td>
                <img src="../static/img/cliff.jpg" width="110%" id="pic" onmouseover="change1()" onmouseout="change2()"></img>
            </td>
            <td>
                <h1>吳岱威</h1>
                <h2 id="h2text">Wu-Dai-Wei</h2>
            </td>
        </tr>
    </table>

    <table  width="70%" border="1">
        <tr>
            <td>
                個人網頁：<a href="../static/HTML/web.html">沒做</a><br>
                FB：<a href="https://www.facebook.com/?locale=zh_TW" target="_blank">忘了</a><br>
                Tel: <a href="tel:0426328001,18110">04-26328001#18110 (老師的)</a><br>
                E-Mail: <a href="mailto:davidwu010036@gmail.com">davidwu010036@gmail.com</a><br>
            </td>
            
            <td>
                大象席地而坐電影配樂<br>
                <audio controls>
                    <source src="../static/audio/elephant.mp3" type="audio/mP3">
                </audio><br>
            </td>
            
            <td>
                不要去臺灣<br>
                <iframe src="https://www.youtube.com/embed/pW88QFpHXa8" allowfullscreen></iframe>
            </td>

        </tr>
    </table>

    <script src="../static/js/index.js"></script>
</body>
</html>